- provide(:title, 'О блоге') 
%h1.art-title О блоге

<p>Этот блог был создан для получения практического опыта в разработке на Rails.</p>

<p>Буду рад предложениям о работе на позиции junior разработчика :)</p>