%li
  =article.title
  %br
  =article.content
  =link_to "ID статьи: #{article.id}", article_path(article.id)
  =link_to "Изменить", edit_article_path(article.id)
  =link_to "Удалить", article, method: :delete, data: {confirm: 'Уверены?'}
  %br
  %br