- if signed_in?
  %h1.h1-signed  Все статьи

%ul.art-list
  = render partial: "article", collection: @articles


.pagination
  = will_paginate @articles, container: true, previous_label: "К новым постам", next_label: "К старым постам"