- provide(:title, "#{signed_in? ? 'Все статьи': 'Главная' }")
- if signed_in?
  %h1.h1-signed  Все статьи

%ul.art-list
  = render @articles


.pagination
  = will_paginate @articles, container: true, previous_label: "К новым постам", next_label: "К старым постам"