- provide(:title, @article.title)
%h1.art-title= @article.header
%p= raw @article.content
%br
- if signed_in?
  = link_to "Изменить", edit_article_path
  = link_to "Удалить", article_path, method: :delete, data: {confirm: 'Уверены?'}
