%h1
	Title:
	= @article.title
%p	Content:
=@article.content
ID статьи:
=@article.id


=link_to "Изменить", edit_article_path
=link_to "Удалить", article_path, method: :delete, data: {confirm: 'Уверены?'}