=form_for @user do |f|
  =f.text_field :name
  <- Login
  %br
  =f.text_field :email
  <- Email
  %br
  =f.password_field :password
  <- Pass
  %br
  =f.password_field :password_confirmation
  <- Pass conf
  %br
  -if @user.new_record?
    =f.submit "Зарегистрироваться"
  -else
    =f.submit "Обновить"