.content{class: "container #{@show_sidebar ? "col-xs-12 col-sm-8 col-md-8" : "col-xs-12 col-sm-12 col-md-12"}"}

  - flash.each do |key, value|
    .alert{class: "alert-#{key}"}
      = value

  = yield
      

          



