- if zone.errors.any?
  #error_explanation
    .alert.alert-danger
      В форме
      = zone.errors.count
      = Russian.p(zone.errors.count, "ошибка:", "ошибки:", "ошибок:")
    %ul
      - zone.errors.full_messages.each do |msg|
        %li 
          *
          = msg
